#name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

#on:
  #schedule:
  #  - cron: '42 9 * * *'
#  push:
#    branches: 
#      - main
    # Publish semver tags as releases. 
    # Every release in a branch will be tagged, so it is not necessary to specify additional branches.
    #tags: [ 'v*.*.*' ]
#    tags: 
#      - 'v*'
#  pull_request:
#    branches: [ main ]

#env:
  # Use GitHub Container Repository
#  REGISTRY_GITHUB: ghcr.io

  # Use docker.io for Docker Hub if empty
#  REGISTRY_DOCKER_HUB: docker.io

  # github.repository as <account>/<repo>
#  IMAGE_NAME: geschke/php-fpm-swrm
  # was: ${{ github.repository }}
  # GitHub repository is named as "docker-<image_name>" to differ Docker images from other contents


#jobs:
#  build:

#    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      packages: write

#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v3

#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v2

#      - name: Inspect builder
#        run: |
#          echo "Name:      ${{ steps.buildx.outputs.name }}"
#          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
#          echo "Status:    ${{ steps.buildx.outputs.status }}"
#          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
#          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"
#          echo "image name: ${{ env.IMAGE_NAME }}"

      # Login against an container registry except on PR
      # https://github.com/docker/login-action
      
      # Login to GitHub Container Repository
#      - name: Log into registry ${{ env.REGISTRY_GITHUB }}
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@v2
#        with:
#          registry: ${{ env.REGISTRY_GITHUB }}
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}

      # Login to Docker Hub (default when no registry variable exists)
#      - name: Login to DockerHub
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      
 #     - name: Extract Docker metadata
 #       id: meta
 #       uses: docker/metadata-action@v4
 #       with:
 #         tags: |
 #           type=raw,value=latest,enable=${{ endsWith(GitHub.ref, 'main') }}
 #           type=match,pattern=v(.*),group=1
 #         flavor: |
 #           latest=false
 #         images: ${{ env.REGISTRY_DOCKER_HUB }}/${{ env.IMAGE_NAME }},${{ env.REGISTRY_GITHUB }}/${{ env.IMAGE_NAME }}

 #     - name: Show some information after meta run
 #       id: showinfo
 #       run: |
 #         echo "GitHub event name:  ${{ github.event_name }}"
 #         echo "Tags:               ${{ steps.meta.outputs.tags }}"
 #         echo "Labels:             ${{ steps.meta.outputs.labels }}"
 #         echo "Image name: ${{ env.IMAGE_NAME }}"


      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
  #    - name: Build and push Docker image
  #      uses: docker/build-push-action@v4
  #      with:
  #        context: .
  #        push: ${{ github.event_name != 'pull_request' }}
  #        tags: ${{ steps.meta.outputs.tags }}
  #        labels: ${{ steps.meta.outputs.labels }}

#name: Docker Build and Push

#on:
#  push:
#    branches:
#      - main

#env:
#  # Registries for Docker Hub and GitHub Container Registry
#  REGISTRY_GITHUB: ghcr.io
#  REGISTRY_DOCKER_HUB: docker.io

#jobs:
#  build:
#    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      packages: write

#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v3

#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2

#      - name: Log into GitHub Container Registry
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@v2
#        with:
#          registry: ${{ env.REGISTRY_GITHUB }}
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}

#      - name: Log into Docker Hub
#        if: github.event_name != 'pull_request'
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}

#      - name: Load image mappings and set IMAGE_NAME
#        run: |
#          source ./image_mappings.sh
#          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
#          echo "Image name: $IMAGE_NAME"

#      - name: Build and Push Docker Images
#        uses: docker/build-push-action@v4
#        with:
#          context: .
#          push: false
#          # ${{ github.event_name != 'pull_request' }}
#          tags: |
#            ${{ env.REGISTRY_DOCKER_HUB }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
#            ${{ env.REGISTRY_GITHUB }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
#          platforms: linux/amd64,linux/arm64
